$font-stack: Saira, sans-serif;
$primary-color: #0b3662;
$box-unit: 2;
$base-font: 16px;

@function pow($number, $exponent) {
    $value: 1;
  
    @if $exponent > 0 {
      @for $i from 1 through $exponent {
        $value: $value * $number;
      }
    }
  
    @return $value + px;
}

@function box-pow($exponent) {
  @return pow($box-unit, $exponent);
}

html {
    font-size: $base-font;
    font-family: $font-stack;
}

  
h1 {font-size: 3.052em;}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

